{% extends "base.html.twig" %}
 {% block nav %}
     <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
         <div class="container">
             <a class="navbar-brand" href="{{ path('home_page') }}">内部视频分享</a>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                     aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
             </button>
             <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                 <ul class="navbar-nav mr-auto">
                     <li class="nav-item active">
                         <a class="nav-link" href="{{ path('home_page') }}">首页 <span class="sr-only"></span></a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link" href="#">点播</a>
                     </li>

                 </ul>
             </div>
         </div>
     </nav>
 {% endblock %}
{% block javascripts %}
    <link rel="stylesheet" href="{{ asset('/static-dist/bootstrap/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('/static-dist/bootstrap/css/bootstrap-grid.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('/static-dist/bootstrap/css/bootstrap-reboot.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('/static-dist/app/css/common.css') }}"/>
    <link type="text/css" src="{{ asset('/static-dist/select2/css/select2.min.css') }}"/>
    <script type="application/javascript" src="{{ asset('/static-dist/app/js/jquery-3.3.1.min.js') }}"></script>
    <link type="text/css" src="{{ asset('/static-dist/select2/css/select2.min.css') }}"/>

{% endblock %}
{% block bodyjavascripts %}

    <script type="application/javascript" src="{{ asset('/static-dist/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script type="application/javascript" src="{{ asset('/static-dist/app/js/index.js') }}"></script>
    <script src="{{ asset('/static-dist/app/js/util.js') }}"></script>
    <script src="{{ asset('/static-dist/select2/js/select2.js') }}"></script>
    <script src="{{ asset('/static-dist/app/js/jquery.bootpag.min.js') }}"></script>
{% endblock %}